@import '../features/ui/bootstrap/variables';

.app {
  background-image: url(./bg.png);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}
