@import '../../ui/bootstrap/variables.scss';

.bulletin {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  min-width: 15rem;
  max-width: 20rem;
}

.bulletin--apple {
  background-color: $red;
}

.bulletin--cherry {
  background-color: darken($red, 10);
}

.bulletin--orange {
  background-color: lighten($orange, 30);
}

.bulletin--peach {
  background-color: lighten($pink, 5);
}

.bulletin--pear {
  background-color: lighten($green, 2);
}

.bulletin__fruit {
  align-self: center;
  height: 8rem;
  margin: 1rem 0;
  width: 8rem;
}
