@import '../../../ui/bootstrap/variables.scss';

.form {
  border-radius: 2rem;
  background-color: white;
  margin-bottom: 1rem;
  max-width: auto;
  padding: 2rem;
}

.error {
  color: red;
  font-weight: 150;
}

.error-box {
  border: solid 1px red;
}
